package: python-commandline
priority: normal
maintainer: Christian Höltje <docwhat@gerf.org>
depends: shell-common
standards-version: 1
description: Handy configuration to make the command line python easier

dirs:
 .shell
