package: colorls
priority: normal
maintainer: Christian Höltje <docwhat@gerf.org>
depends: shell-common
standards-version: 1
description: Color LS Configuration
 Sets up the color ls to be pleasant colors
dirs:
 .shell
