package: javascript-tools
priority: normal
maintainer: Christian Höltje <docwhat@gerf.org>
depends: cache-tool
standards-version: 1
description: JavaScript Tools and Utilities

dirs:
 bin
mkdirs:
 bin
